<!DOCTYPE html>
<html>

    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- Custom Styles -->
      <link rel="stylesheet" href="static/styles/styles.css">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">

      <title>BookReview</title>
    </head>

    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-sm">
          <!--Links-->
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <form class="" action="{{ url_for('logout') }}" method="POST">
                <input type="submit" class="btn btn-link" name="logoutButton" value="Log Out">
              </form>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container-fluid headTitle">
        <h1>Meet your next favorite book!</h1>
        <h4>See bunch of book reviews and discussions to decide what to read next.</h4>
      </div>
      <div class="container-fluid searchContainer">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Isbn</th>
              <th scope="col">Author</th>
              <th scope="col">Title</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ bookDetails.isbn }}</td>
              <td>{{ bookDetails.author }}</td>
              <td>{{ bookDetails.title }}</td>
              <td>{{ bookDetails.year }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>

</html>
