body {
  font-family: 'Montserrat Alternates', sans-serif;
  height: 100vh;
  top:0;
  left: 0;
  right: 0;
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
}

.titleRow {
  width: 100%;
  height: 25%;
  background-color: rgba(59, 89, 152, 1);
}

.headTitle {
  color: white;
  margin-left: 10%;
  margin-top: 3%;
}

.formRow {
  width: 100%;
  height: 75%;
  background: url("2.png");
}

.authForm {
  width: 30%;
  height: 30%;
  margin-left: 10%;
  margin-top: 5%;
}

.form-control {
  margin-top: 5px;
}

.btn {
  margin-top: 5px;
}
